In [1]:
import duckdb
import pandas as pd

In [9]:
con = duckdb.connect('games.duckdb')

In [6]:
con.execute('ALTER TABLE franchises ADD COLUMN franchise_lifespan INTEGER');

In [10]:
franchises = con.execute("SELECT * FROM franchises").df()

In [12]:
games = con.execute('SELECT * FROM games').df()

In [14]:
exploded = franchises.explode('games')

In [18]:
merged = exploded.merge(games[['id', 'releaseDate']], left_on='games', right_on='id', how='left')

In [21]:
result = merged.groupby('id_x').agg(franchise_name=('name', 'first'), earliest_release=('releaseDate', 'min'), latest_release=('releaseDate', 'max')).reset_index()

In [22]:
result

      id_x franchise_name earliest_release latest_release
0        1      Star Wars       1982-12-31     2026-12-31
1        2  Indiana Jones       1982-11-01     2025-09-04
2        3          Conan       1984-12-31     2022-03-01
3        4  Final Fantasy       1987-12-18     2025-09-30
4        5         Batman       1986-12-31     2026-12-31
...    ...            ...              ...            ...
2487  7077         Mad TV              NaT            NaT
2488  7078  Entropy: Zero              NaT            NaT
2489  7079  Castle Travel              NaT            NaT
2490  7080  AikoGxStudios              NaT            NaT
2491  7081         Nester              NaT            NaT

[2492 rows x 4 columns]

In [23]:
con.close()